@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik+Dirt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto Flex", sans-serif;
}
body a {
  text-decoration: none;
  color: white;
}
body a :visited {
  color: white;
}
body h2 {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.parallax-container {
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}
.parallax-container .parallax-group {
  position: relative;
  height: 100svh;
  transform-style: preserve-3d;
}
.parallax-container .parallax-group .parallax-layer {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-container .parallax-group .base-layer {
  transform: translateZ(-300px) scale(2);
}
.parallax-container #hero {
  height: 100svh;
}
.parallax-container #hero header {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 15%;
  width: 100%;
}
.parallax-container #hero header #logo {
  height: 15vh;
  padding: 1rem;
}
.parallax-container #hero header ul {
  list-style: none;
  padding-right: 2rem;
}
.parallax-container #hero header ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.parallax-container #hero .heading {
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}
.parallax-container #hero .heading h1,
.parallax-container #hero .heading span {
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.parallax-container #hero .heading span {
  width: 100%;
  font-size: 2rem;
}
.parallax-container #hero #heroimg,
.parallax-container #hero #heroimgvert {
  min-width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}
.parallax-container .images {
  height: 100svh;
  overflow: hidden;
}
.parallax-container .images img {
  -o-object-fit: cover;
  object-fit: cover;
}
.parallax-container .images .mid-layer {
  display: flex;
  justify-content: left;
  padding: 2.5rem;
  color: white;
  font-size: 2rem;
  letter-spacing: 3px;
}
.parallax-container .images #action-shot-collage {
  min-width: 100vw;
  height: 100vh;
}
.parallax-container .images #peggys-cove {
  min-width: 100vw;
  height: 100vh;
}
.parallax-container .images #events {
  min-width: 100vw;
  height: 100vh;
}
.parallax-container .images #mina-headshot {
  min-width: 100vw;
  height: 100vh;
}
.parallax-container .images #memories {
  min-width: 100vw;
  height: 100vh;
}
.parallax-container .images #peggyscovevert,
.parallax-container .images #eventsvert,
.parallax-container .images #sportsvert,
.parallax-container .images #portraitvert,
.parallax-container .images #footervert {
  min-width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}
.parallax-container #footer {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-container #footer #footerimg {
  -o-object-fit: cover;
  object-fit: cover;
  min-width: 110vw;
  height: 110vh;
}
.parallax-container #footer a {
  color: white;
  padding: 1rem;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.parallax-container #footer a :visited {
  text-decoration: none;
  color: white;
}

@media (max-width: 720px) {
  .hide-on-small {
    display: none;
  }
}
@media (min-width: 720px) {
  .hide-on-large {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */